.confirmation__button {
  width: 100%;
  border: none;
  padding: 20px 0;
  border-radius: 50px;
  background-color: #2f71e5;
  color: #fff;
  font-weight: 500;
  box-shadow: 0 5px 15px 0 rgba(14, 26, 57, 0.2);
  cursor: pointer;
  margin-top: 30px;
}

.confirmation__button:hover {
  background-color: #347eff;
}

.confirmation__button:active {
  background-color: #2a65cc;
}
