.header {
  height: 79px;
  padding: 0 104px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
}

.header_black {
  border-bottom: 1px solid #d1d2d6;
}

.header__logo {
  font-family: "RobotoSlab";
  font-weight: 700;
  font-size: 20px;
  margin: 0;
  cursor: pointer;
  color: #fff;
}

.header__logo_black {
  color: #1a1b22;
}
