.app__body {
  width: 100%;
  min-height: 100vh;
}

.app__body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
  color: #1a1b22;
  background-image: url(../images/main-background-image.png);
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.app__body_without-background-image {
  background-image: none;
}

@media screen and (max-width: 768px) {
  .app__body {
    background-image: url(../images/main-background-image-tablet.png);
  }

  .app__body_without-background-image {
    background-image: none;
  }
}

@media screen and (max-width: 320px) {
  .app__body {
    background-image: url(../images/main-background-image-mobile.png);
  }

  .app__body_without-background-image {
    background-image: none;
  }
}
