.navigation {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 42px;
}

.navigation__link {
  margin: 0;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}

.navigation__link_black {
  color: #1a1b22;
}

.navigation__link_active {
  text-decoration: underline;
  text-decoration-color: #fff;
  text-decoration-thickness: 3px;
  text-underline-offset: 31px;
  cursor: pointer;
}

.navigation__link_active_black {
  text-decoration-color: #1a1b22;
}

.navigation__button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 500;
  line-height: 24px;
  border-radius: 50px;
  padding: 12px 61px;
}

.navigation__button_black {
  border: 1px solid #d1d2d6;
  color: #1a1b22;
}

.navigation__button:hover {
  cursor: pointer;
}

.navigation__button_active {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 12px 19px;
}
