.news-card-list {
  background-color: #f5f6f7;
  max-width: 1232px;
  padding: 80px 104px;
}

.news-card-list__circle-preloader {
  display: block;
  width: 50px;
  height: 50px;
  border: 4px solid #444;
  border-bottom-color: #888;

  border-radius: 50%;

  margin: 0 auto 24px;

  animation: spin 0.75s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.news-card-list__text-preloader {
  text-align: center;
  color: #b6bcbf;
  margin: 0;
}

.news-card-list__title {
  font-family: "RobotoSlab";
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  margin: 0 0 64px;
}

.news-card-list__cards {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 0;
  margin: 0;
}

.news-card-list__button {
  display: block;
  margin: 56px auto 0;
  padding: 20px 98px;
  border-radius: 144px;
  border: none;
  background-color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.news-card-list__button:hover {
  background-color: #e8e8e8;
}

.news-card-list__not-found-icon {
  display: block;
  margin: 0 auto 32px;
}

.news-card-list__not-found-title {
  margin: 0 0 16px;
  text-align: center;
  font-family: "RobotoSlab";
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
}

.news-card-list__not-found-subtitle {
  margin: 0 auto;
  text-align: center;
  color: #b6bcbf;
  width: 220px;
}
